.title{
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 200px 0 30px;

}
.title h2{
    font-size: 55px;
    color: black;
    margin-top: 5px;
    text-transform: none;
}
.title p{
    font-size: 35px;
}